In [36]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [37]:
purchase_df = pd.DataFrame(purchase_data)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [38]:
users = purchase_df["SN"].unique()
total_users = len(users)

In [39]:
unique_items = purchase_df["Item ID"].unique()
num_unique_items = len(unique_items)

In [40]:
average_price = purchase_df["Price"].mean()

In [41]:
num_purchases = purchase_df["Purchase ID"].count()

In [42]:
total_revenue = purchase_df["Price"].sum()

In [52]:
### Purchasing Analysis DataFrame ###
purchasing = {"Number of Unique Items":num_unique_items,
        "Average Price":average_price,
        "Number of Purchases":num_purchases,
        "Total Revenue":total_revenue}
purchasing_df = pd.DataFrame(purchasing, index=[0])

In [53]:
purchasing_df["Average Price"] = purchasing_df["Average Price"].map("${:,.2f}".format)
purchasing_df["Total Revenue"] = purchasing_df["Total Revenue"].map("${:,.2f}".format)
purchasing_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [135]:
### Gender Demographics ###

male = purchase_df.loc[(purchase_df["Gender"] == "Male"), :]
num_male = len(male["SN"].unique())
percent_male = (num_male / total_users)*100

female = purchase_df.loc[(purchase_df["Gender"] == "Female"), :]
num_female = len(female["SN"].unique())
percent_female = (num_female / total_users)*100

other = purchase_df.loc[(purchase_df["Gender"] == "Other / Non-Disclosed"), :]
num_other = len(other["SN"].unique())
percent_other = (num_other / total_users)*100

gender_count = [num_male, num_female, num_other]
gender_percent = [percent_male, percent_female, percent_other]

In [151]:
genders_df = pd.DataFrame(purchase_df.groupby("Gender").sum())
genders_df["Total Count"] = gender_count
genders_df["Percentage of Players"] = gender_percent
genders_df["Percentage of Players"] = genders_df["Percentage of Players"].map("{:,.2f}%".format)
genders_df = genders_df[["Total Count","Percentage of Players"]]
genders_df.head()

                       Total Count Percentage of Players
Gender
Female                         484                84.03%
Male                            81                14.06%
Other / Non-Disclosed           11                 1.91%

In [174]:
male_purchase_count = male["Purchase ID"].count()
female_purchase_count = female["Purchase ID"].count()
other_purchase_count = other["Purchase ID"].count()
purchase_count = [female_purchase_count, male_purchase_count, other_purchase_count]

total_male = male["Price"].sum()
total_female = female["Price"].sum()
total_other = other["Price"].sum()
purchase_value = [total_female, total_male, total_other]

male_avg = total_male / num_male
female_avg = total_female / num_female
other_avg = total_other / num_other
avg = [female_avg, male_avg, other_avg]

In [187]:
### Purchasing Analysis (Gender) ###
gender_analysis_df = pd.DataFrame(purchase_df.groupby("Gender").mean())
gender_analysis_df["Purchase Count"] = purchase_count
gender_analysis_df["Total Purchase Value"] = purchase_value
gender_analysis_df["Total Purchase Value"] = gender_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
gender_analysis_df["Avg Total Purchase per Person"] = avg
gender_analysis_df["Avg Total Purchase per Person"] = gender_analysis_df["Avg Total Purchase per Person"].map("${:,.2f}".format)
gender_analysis_df["Price"] = gender_analysis_df["Price"].map("${:,.2f}".format)
gender_analysis_df = gender_analysis_df[["Purchase Count","Price","Total Purchase Value","Avg Total Purchase per Person"]]
gender_analysis_new = gender_analysis_df.rename(columns={"Price":"Average Purchase Price"})
gender_analysis_new.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56