In [1]:
import pandas as pd

In [2]:
school_data_file = "Resources/schools_complete.csv"
student_data_file = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(school_data_file)
student_data = pd.read_csv(student_data_file)

In [4]:
merged = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
merged.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
schools = merged["school_name"].unique()
print(schools)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [6]:
num_schools = int(len(schools))
print(num_schools)

15

In [7]:
num_students = int(merged["student_name"].count())
print(num_students)

39170

In [8]:
budget = merged["budget"].unique()
total_budget = float(sum(budget))
print(total_budget)

24649428.0

In [9]:
math = merged["math_score"]
math_score = float(math.mean())
print(math_score)

78.98537145774827

In [10]:
reading = merged["reading_score"]
reading_score = float(reading.mean())
print(reading_score)

81.87784018381414

In [31]:
passing_math = merged.loc[(math >= 70), :]
pass_math = passing_math["Student ID"].count()
print(pass_math)

29370

In [12]:
passing_reading = merged.loc[(reading >= 70), :]
pass_read = passing_reading["Student ID"].count()

In [13]:
percent_pass_math = (pass_math / num_students) * 100
print(percent_pass_math)

74.9808526933878

In [14]:
percent_pass_read = (pass_read / num_students) * 100
print(percent_pass_read)

85.80546336482001

In [15]:
overall_passing = merged.loc[(math >= 70) & (reading >= 70)]
overall_passing["Student ID"].head()
overall_passing_num = overall_passing["Student ID"].count()
percent_passing = (overall_passing_num / num_students) * 100
print(percent_passing)

65.17232575950983

In [16]:
district_summary = {
    "Total Schools": num_schools, 
    "Total Students": num_students, 
    "Total Budget": total_budget,
    "Average Math Score": math_score,
    "Average Reading Score": reading_score,
    "Percent Passing Math": percent_pass_math,
    "Percent Passing Reading": percent_pass_read,
    "Percent Passing Overall": percent_passing
}
district_summary_df = pd.DataFrame(district_summary, index=[0])
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,39170,24649428.0,78.985371,81.87784,74.980853,85.805463,65.172326

In [17]:
#formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [39]:
school_passing_math = merged.loc[(math >= 70), :]
school_pass_math = school_passing_math.groupby("school_name").student_name.count()
school_passing_reading = merged.loc[(reading >= 70), :]
school_pass_read = school_passing_reading.groupby("school_name").student_name.count()

In [42]:
school_overall_passing = merged.loc[(math >= 70) & (reading >= 70)]
school_overall_passing_num = school_overall_passing.groupby("school_name").student_name.count()
school_percent_passing = (school_overall_passing_num / school_num_students) * 100

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64
school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [18]:
school_avg_budget = [merged.groupby("school_name").budget.mean()]

In [19]:
school_num_students = merged.groupby("school_name").student_name.count()

In [20]:
school_avg_math_score = merged.groupby("school_name").math_score.mean()

In [21]:
school_avg_read_score = merged.groupby("school_name").reading_score.mean()

In [22]:
schools_df = pd.DataFrame(merged.groupby("school_name").mean())
schools_df.head()

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0

In [23]:
type = merged.groupby("school_name").type.unique()

In [24]:
per_student_budget = (schools_df["budget"])/school_num_students

In [25]:
del schools_df["Student ID"]
del schools_df["School ID"]

In [26]:
new_schools_df = schools_df.rename(columns=
{
    "school_name": "School Name",
    "reading_score": "Average Reading Score",
    "math_score": "Average Math Score",
    "budget": "Total School Budget",
    "size": "Total Students"
})

In [44]:
new_schools_df["Type"] = type
new_schools_df["Per Student Budget"] = per_student_budget
new_schools_df["Total Students"] = school_num_students
new_schools_df["Passing Math"] = (school_pass_math/school_num_students)*100
new_schools_df["Passing Reading"] = (school_pass_read/school_num_students)*100
new_schools_df["Overall Passing"] = school_percent_passing
new_schools_df

,Average Reading Score,Average Math Score,Total Students,Total School Budget,Type,Per Student Budget,Passing Math,Passing Reading,Overall Passing
school_name,,,,,,,,,
Bailey High School,81.033963,77.048432,4976,3124928.0,[District],628.0,66.680064,81.933280,54.642283
Cabrera High School,83.975780,83.061895,1858,1081356.0,[Charter],582.0,94.133477,97.039828,91.334769
Figueroa High School,81.158020,76.711767,2949,1884411.0,[District],639.0,65.988471,80.739234,53.204476
Ford High School,80.746258,77.102592,2739,1763916.0,[District],644.0,68.309602,79.299014,54.289887
Griffin High School,83.816757,83.351499,1468,917500.0,[Charter],625.0,93.392371,97.138965,90.599455
Hernandez High School,80.934412,77.289752,4635,3022020.0,[District],652.0,66.752967,80.862999,53.527508
Holden High School,83.814988,83.803279,427,248087.0,[Charter],581.0,92.505855,96.252927,89.227166
Huang High School,81.182722,76.629414,2917,1910635.0,[District],655.0,65.683922,81.316421,53.513884
Johnson High School,80.966394,77.072464,4761,3094650.0,[District],650.0,66.057551,81.222432,53.539172
Pena High School,84.044699,83.839917,962,585858.0,[Charter],609.0,94.594595,95.945946,90.540541
Rodriguez High School,80.744686,76.842711,3999,2547363.0,[District],637.0,66.366592,80.220055,52.988247
Shelton High School,83.725724,83.359455,1761,1056600.0,[Charter],600.0,93.867121,95.854628,89.892107
Thomas High School,83.848930,83.418349,1635,1043130.0,[Charter],638.0,93.272171,97.308869,90.948012
Wilson High School,83.989488,83.274201,2283,1319574.0,[Charter],578.0,93.867718,96.539641,90.582567
Wright High School,83.955000,83.682222,1800,1049400.0,[Charter],583.0,93.333333,96.611111,90.333333